/* #slideshow {
  text-align: center;
  margin: auto;
  position: relative;
  max-width: 100vw;
  max-height: auto;
}

#slideshow > div {
  position: absolute;
  top: -10px;
}

#slideshow div img{
  max-width:100%;
  height: auto;
} */
