#showcase{
  background-image:url('../images/forest.jpg');
  background-size:cover;
  height: 100vh;
}

#introduction {
    text-align: center;
    padding-top: 20%;
}

#introduction h1{
  font-family: 'Comfortaa', cursive, Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-shadow: -1px 0 #0F0F0F, 0 1px #0F0F0F, 1px 0 #0F0F0F, 0 -1px #0F0F0F;
}

#wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#inline-block{
  display: flex;
  justify-content: space-around;
}

#github{
    width: 50px;
    height: 50px;
    border-width: 200px;
    border-radius: 100%;
}

#github:hover{
  background-color: white;
}
