/* background-color: #e6f2ff; */
.info-block{
  position:absolute;
  margin-top: 55%;
  border-top-style: outset;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
}

.description{
  font-size:20px;
  margin: 1% 5% 1% 5%;
}

.description h2{
  color: #404040;
  font-size:40px;
  text-align:center;
  margin-bottom: 5%;
  font-weight: bolder;
  text-decoration: underline;
}

#my-projects h3 a{
  color: #404040;
  font-weight: bolder;
  text-decoration:none;
}

#my-projects h3 a:hover{
  color: silver;
}

#my-projects h5{
  color: #404040;
  margin-bottom: 5%;
}



#contact{
  background: linear-gradient(to right, #54A4A6, #A9A9A9);
}

#contact ul{
  padding:1% 0 0 5%;
  list-style: none;
}

#contact li{
  display:inline;
  font-family: 'Dosis', sans-serif, 'Quicksand', sans-serif;
  font-size:22px;
  padding-right:15%;
  color: white;
}

#linkedin{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

#linkedin:hover{
  border: 1px solid #d0d0d0;
}

#credits{
  color: #404040;
  text-align:center;
  font-family: 'Dosis', sans-serif, 'Quicksand', sans-serif;
}

#abt, #exp, #prj{
  background-color: #f9f9f9;
  padding: 1em;
  border: 1.5px #e6e6e6 groove;
  border-radius: .5em;
  color:#55555;
}
