#about-me-block{
  padding-top: 30px;
}

#about-me-one{
  width: 30%;
  float: left;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

#about-me-one img{
  width: 85%;
  border-radius: 5em;
}

#about-me-two{
  font-family: 'Rubik', sans-serif, 'Comfortaa', cursive, Lucida Sans Unicode, Lucida Grande, sans-serif;
  width: 70%;
  float: right;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#about-me-two h2{
  font-size: 200%;
  font-weight: bolder;
}

.clr{
  clear: both;
}

#prj{
  font-family: 'Rubik', sans-serif, 'Comfortaa', cursive, Lucida Sans Unicode, Lucida Grande, sans-serif;
  background-color: #f0f0f0;
  padding: 2em;
  color:#55555;
}

#exp{
  font-family: 'Rubik', sans-serif, 'Comfortaa', cursive, Lucida Sans Unicode, Lucida Grande, sans-serif;
  padding: 2em;
  color:#55555;
}

#my-projects h3 a{
  color: #404040;
  font-weight: bolder;
  text-decoration:none;
}

#my-projects h3 a:hover{
  color: #dfd0d0;
}

#my-projects h5{
  color: #404040;
  margin-bottom: 2%;
}

.headline{
  font-size: 300%;
  font-weight: bolder;
}

.img-section{
  width: 30%;
  float: left;
}

.img-section img{
  width: 80%;
  height: 180px;
  border-radius: 50%;
}

#experience-block{
  margin: 3%;
}

#experience-block h3{
  font-weight: bolder;
}

#contact{
  float: none;
  background: linear-gradient(to right, #54A4A6, #A9A9A9);
}

#contact ul{
  padding:1% 0 0 5%;
  list-style: none;
}

#contact li{
  display:inline;
  font-family: 'Dosis', sans-serif, 'Quicksand', sans-serif;
  font-size:22px;
  padding-right:15%;
  color: white;
}

#credits{
  padding-top: 10px;
  background-color: #f9f9f9;
  text-align:center;
  font-family: 'Dosis', sans-serif, 'Quicksand', sans-serif;
}
